In [196]:
import pandas as pd
df=pd.read_csv('Churn_Modelling.csv')
df

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [197]:
df.shape

(10000, 14)

In [198]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [199]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [200]:
df.duplicated().sum()

np.int64(0)

In [201]:
df['Exited'].value_counts()

Exited
0    7963
1    2037
Name: count, dtype: int64

In [202]:
df_modified=df.drop(columns=['RowNumber','CustomerId','Surname'])
df_modified

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [203]:
df_modified_2=pd.get_dummies(df_modified,columns=['Geography','Gender'])

In [204]:
x=df_modified_2.drop(columns=['Exited'])
y=df_modified_2['Exited']

from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [205]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()

x_train_scaled=scaler.fit_transform(x_train)
x_test_scaled=scaler.transform(x_test)

In [206]:
x_train_scaled.shape

(8000, 13)

In [207]:
from tensorflow import keras
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense

In [208]:
model=Sequential()

model.add(Dense(13,activation='relu',input_dim=13))
model.add(Dense(13,activation='relu',input_dim=13))
model.add(Dense(13,activation='relu',input_dim=13))
model.add(Dense(1,activation='sigmoid'))

f:\ML\python\Deep learning\Customer Churn ANN\myenv\Lib\site-packages\keras\src\layers\core\dense.py:95: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [209]:
model.summary()

Model: "sequential_8"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_21 (Dense)                │ (None, 13)             │           182 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_22 (Dense)                │ (None, 13)             │           182 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_23 (Dense)                │ (None, 13)             │           182 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_24 (Dense)                │ (None, 1)              │            14 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 560 (2.19 KB)

 Trainable params: 560 (2.19 KB)

 Non-trainable params: 0 (0.00 B)

In [210]:
model.compile(loss='binary_crossentropy',optimizer='adam',metrics=['accuracy'])

In [218]:
model.fit(x_train_scaled,y_train,epochs=50,validation_split=.2)

Epoch 1/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8662 - loss: 0.3189 - val_accuracy: 0.8706 - val_loss: 0.3102
Epoch 2/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8681 - loss: 0.3177 - val_accuracy: 0.8650 - val_loss: 0.3158
Epoch 3/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8669 - loss: 0.3172 - val_accuracy: 0.8662 - val_loss: 0.3180
Epoch 4/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8655 - loss: 0.3164 - val_accuracy: 0.8662 - val_loss: 0.3187
Epoch 5/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8689 - loss: 0.3163 - val_accuracy: 0.8662 - val_loss: 0.3175
Epoch 6/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8653 - loss: 0.3157 - val_accuracy: 0.8644 - val_loss: 0.3185
Epoch 7/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8658 - loss: 0.3150 - val_accuracy: 0.8606 - val_loss: 0.3222
Epoch 8/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8678 - loss: 0.3161 - val_accuracy: 0.8650 - val_loss: 0.3185
Epoch 9/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8675 - loss: 0.3155 - val_accuracy: 0.8625 - val_loss: 0.3226
Epoch 10/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8678 - loss: 0.3147 - val_accuracy: 0.8637 - val_loss: 0.3218
Epoch 11/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8664 - loss: 0.3150 - val_accuracy: 0.8625 - val_loss: 0.3242
Epoch 12/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8672 - loss: 0.3143 - val_accuracy: 0.8669 - val_loss: 0.3229
Epoch 13/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8681 - loss: 0.3128 - val_accuracy: 0.8619 - val_loss: 0.3268
Epoch 14/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8667 - loss: 0.3136 - val_accuracy: 0.8662 - val_loss: 0.3233
Epoch 15/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8691 - loss: 0.3121 - val_accuracy: 0.8587 - val_loss: 0.3291
Epoch 16/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8648 - loss: 0.3138 - val_accuracy: 0.8587 - val_loss: 0.3269
Epoch 17/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8681 - loss: 0.3118 - val_accuracy: 0.8644 - val_loss: 0.3259
Epoch 18/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8687 - loss: 0.3118 - val_accuracy: 0.8612 - val_loss: 0.3262
Epoch 19/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8705 - loss: 0.3116 - val_accuracy: 0.8681 - val_loss: 0.3259
Epoch 20/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8678 - loss: 0.3114 - val_accuracy: 0.8619 - val_loss: 0.3287
Epoch 21/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8680 - loss: 0.3113 - val_accuracy: 0.8544 - val_loss: 0.3299
Epoch 22/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8697 - loss: 0.3122 - val_accuracy: 0.8612 - val_loss: 0.3293
Epoch 23/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8681 - loss: 0.3097 - val_accuracy: 0.8581 - val_loss: 0.3287
Epoch 24/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8692 - loss: 0.3099 - val_accuracy: 0.8625 - val_loss: 0.3329
Epoch 25/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8691 - loss: 0.3099 - val_accuracy: 0.8562 - val_loss: 0.3300
Epoch 26/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8720 - loss: 0.3098 - val_accuracy: 0.8587 - val_loss: 0.3308
Epoch 27/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8686 - loss: 0.3099 - val_accuracy: 0.8556 - val_loss: 0.3309
Epoch 28/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8692 - loss: 0.3092 - val_accuracy: 0.8575 - val_loss: 0.3306
Epoch 29/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8708 - loss: 0.3098 - val_accuracy: 0.8594 - val_loss: 0.3332
Epoch 30/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8709 - loss: 0.3088 - val_accuracy: 0.8619 - val_loss: 0.3316
Epoch 31/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8702 - loss: 0.3088 - val_accuracy: 0.8581 - val_loss: 0.3302
Epoch 32/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8692 - loss: 0.3090 - val_accuracy: 0.8587 - val_loss: 0.3340
Epoch 33/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8703 - loss: 0.3087 - val_accuracy: 0.8625 - val_loss: 0.3323
Epoch 34/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8678 - loss: 0.3091 - val_accuracy: 0.8581 - val_loss: 0.3353
Epoch 35/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8691 - loss: 0.3084 - val_accuracy: 0.8637 - val_loss: 0.3329
Epoch 36/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8705 - loss: 0.3084 - val_accuracy: 0.8606 - val_loss: 0.3351
Epoch 37/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8705 - loss: 0.3079 - val_accuracy: 0.8562 - val_loss: 0.3342
Epoch 38/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8692 - loss: 0.3070 - val_accuracy: 0.8519 - val_loss: 0.3363
Epoch 39/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8717 - loss: 0.3080 - val_accuracy: 0.8562 - val_loss: 0.3349
Epoch 40/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8694 - loss: 0.3072 - val_accuracy: 0.8562 - val_loss: 0.3371
Epoch 41/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8728 - loss: 0.3062 - val_accuracy: 0.8594 - val_loss: 0.3347
Epoch 42/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8709 - loss: 0.3066 - val_accuracy: 0.8606 - val_loss: 0.3350
Epoch 43/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8691 - loss: 0.3069 - val_accuracy: 0.8562 - val_loss: 0.3368
Epoch 44/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8709 - loss: 0.3055 - val_accuracy: 0.8612 - val_loss: 0.3353
Epoch 45/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8709 - loss: 0.3077 - val_accuracy: 0.8594 - val_loss: 0.3359
Epoch 46/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8748 - loss: 0.3057 - val_accuracy: 0.8581 - val_loss: 0.3385
Epoch 47/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8728 - loss: 0.3055 - val_accuracy: 0.8606 - val_loss: 0.3414
Epoch 48/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8719 - loss: 0.3051 - val_accuracy: 0.8537 - val_loss: 0.3459
Epoch 49/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8737 - loss: 0.3049 - val_accuracy: 0.8556 - val_loss: 0.3396
Epoch 50/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8722 - loss: 0.3052 - val_accuracy: 0.8512 - val_loss: 0.3409

In [219]:
model.layers[0].get_weights()

[array([[ 4.36083227e-01,  3.85954082e-01,  8.77171755e-02,
          4.51687090e-02,  2.83411145e-01,  4.01936680e-01,
          8.25816274e-01, -3.15557629e-01,  2.11915225e-02,
         -1.90426782e-01,  9.33326930e-02, -1.32293180e-01,
         -1.50297731e-02],
        [-7.54479244e-02,  4.95673776e-01,  5.57555258e-01,
          6.53945267e-01,  4.41084057e-01, -4.37616855e-01,
         -1.71801493e-01,  3.93517494e-01,  2.29190230e-01,
         -5.74881695e-02, -4.31395918e-02,  1.26575994e+00,
         -4.79071528e-01],
        [ 2.89140254e-01,  3.85401547e-01, -2.57358309e-02,
         -4.14661616e-02,  9.32473987e-02, -1.18608318e-01,
         -6.76841736e-01,  3.73257697e-01, -1.56449005e-01,
         -3.15816969e-01, -4.93493468e-01, -3.21928822e-02,
         -1.93514004e-01],
        [-4.67013597e-01, -6.67158425e-01,  7.10482076e-02,
         -1.81929022e-01, -8.51010978e-02,  5.27429283e-01,
         -6.23792350e-01, -1.81121603e-01, -1.26391351e-01,
         -7.39225388e-01,  2.76214480e-01, -3.30341399e-01,
          1.21037163e-01],
        [-3.10060710e-01, -2.59566218e-01,  9.13442016e-01,
         -4.76972669e-01, -2.80593839e-02, -1.64101738e-02,
         -3.78944948e-02,  1.31422430e-01,  2.66353637e-01,
         -3.26161325e-01,  8.35815370e-02, -5.14429450e-01,
          7.02353120e-01],
        [ 1.59650981e-01,  1.10170044e-01, -1.09921796e-02,
         -5.78848384e-02, -3.22656006e-01,  3.86224359e-01,
          1.82390884e-01,  9.57160592e-02, -1.10073604e-01,
          6.74710646e-02,  3.19909096e-01, -1.95376389e-02,
         -2.07154110e-01],
        [-2.34141022e-01,  6.71461940e-01,  1.97561577e-01,
         -2.90807933e-01, -1.41339660e-01, -6.68070078e-01,
         -1.61299080e-01,  6.33455634e-01, -5.18575191e-01,
          7.00447038e-02,  4.41731215e-01,  7.90860951e-01,
         -3.88684481e-01],
        [-3.88873428e-01,  1.00463189e-01, -5.25702573e-02,
          6.98102266e-02,  4.93305996e-02, -2.18321636e-01,
          1.30073801e-01, -4.16661829e-01, -9.99186635e-02,
         -1.56552106e-01,  1.48462683e-01,  1.85598973e-02,
          8.32522064e-02],
        [-5.68830594e-02,  4.88364637e-01, -2.60633439e-01,
          1.58125103e-01, -1.24854654e-01, -2.95224637e-01,
          2.00977787e-01, -1.31298155e-01, -2.86169350e-01,
         -3.04678921e-02,  3.39567780e-01, -6.93404078e-02,
          4.67263311e-02],
        [-3.98750991e-01,  3.52023542e-01, -4.34582949e-01,
          5.45161724e-01, -1.41823351e-01, -5.49750030e-01,
         -1.31872371e-01, -3.10486615e-01, -1.40815973e-01,
         -3.27338636e-01, -2.36109108e-01, -6.30699545e-02,
          3.39918613e-01],
        [ 3.75329733e-01, -6.79120302e-01,  1.89118057e-01,
         -2.33958084e-02,  6.85097754e-01,  4.36376669e-02,
         -7.47274375e-03, -4.99380887e-01,  2.72787184e-01,
          7.43889868e-01, -8.93494412e-02,  2.31204435e-01,
         -5.56957163e-02],
        [ 6.19566560e-01, -5.40962458e-01, -3.02059263e-01,
          2.50265539e-01, -5.84841192e-01,  4.24875319e-01,
          1.85145751e-01, -3.49568546e-01,  1.63175613e-01,
         -3.17551464e-01,  2.86900848e-01, -7.35352281e-03,
          3.52497935e-01],
        [-4.59831327e-01,  2.52714977e-02, -1.76511407e-01,
          2.71468610e-01, -5.05826175e-02, -6.55497491e-01,
          2.41244301e-01,  2.01345444e-01,  7.99704269e-02,
          1.93383455e-01, -1.98211312e-01, -1.05596229e-03,
          3.04819763e-01]], dtype=float32),
 array([-0.03338127, -0.15506585,  0.20511101,  0.2124286 ,  0.40612322,
        -0.43358403,  0.2545959 ,  0.39365238, -0.20671605,  0.25371486,
         0.23619325, -0.3848229 ,  0.5129549 ], dtype=float32)]

In [220]:
model.layers[1].get_weights()

[array([[-0.4277849 ,  0.42787373, -0.5520962 ,  0.43448037,  0.13040239,
          0.47738   ,  0.23396897,  0.13010065, -0.02473127, -0.22511874,
          0.14507994, -0.01171792,  0.5869722 ],
        [-0.36152557,  0.04524525,  0.29654616, -0.09834775,  0.65099686,
         -0.3823433 , -0.02862966, -0.17146504,  0.40794095, -0.427072  ,
          0.08512976,  0.26510102, -0.5180265 ],
        [ 0.41737577,  0.05209021, -0.5895337 , -0.27885342,  0.333804  ,
         -0.07337766, -0.37766722,  0.7832079 , -0.98153424,  0.10335723,
          0.7552607 , -0.6995234 , -0.53208363],
        [ 0.18438794, -0.07136822, -0.18565452,  0.3431512 , -0.18678357,
          0.47654712, -0.37287635, -0.69502723,  0.14586394, -1.0601189 ,
         -0.04656901, -0.09689911, -0.01201773],
        [-0.09294017, -0.39039344, -0.16791408,  0.42289042, -0.0482992 ,
          0.4055596 ,  0.5765547 , -0.11442008,  0.11470458, -0.17370275,
          0.17987299, -0.45866218, -0.22078681],
        [-0.11049527, -0.2766853 , -0.47144186, -0.34352148, -0.19782077,
         -0.4132702 ,  0.13387923, -0.24406655,  0.44009227, -0.62164897,
         -0.19547155, -0.11574584, -0.28759244],
        [ 0.0439048 , -0.15368918,  0.12916975,  0.7840676 , -0.16277951,
         -0.23285449,  0.3860395 ,  0.18397763,  0.22097808, -0.22385241,
         -0.22971562, -0.72132456, -0.09342393],
        [ 0.25487724, -0.19384508, -0.18760763,  0.3763565 ,  0.23010625,
          0.35337663,  0.3126312 , -0.04386742, -0.23947918,  0.22306517,
         -0.10237304, -0.47685185, -0.35073054],
        [ 0.6977205 ,  0.14805044,  0.5626114 , -0.05227055,  0.03114664,
          0.14528896, -0.10379004,  0.3258223 ,  0.21202004,  0.03074628,
         -0.6522982 , -0.6299763 ,  0.07687376],
        [-0.229582  ,  0.31591097, -0.04764801,  0.20364925,  0.02098481,
         -0.31490874,  0.34509876, -0.3878903 ,  0.520089  , -0.14379272,
          0.22558878,  0.5895629 ,  0.36800402],
        [ 0.38867083,  0.34854862,  0.43638423, -0.5438391 ,  0.32252464,
          0.41107148,  0.09295602,  0.14471559,  0.12348963,  0.34099486,
          0.48599374,  0.35514975,  0.25294036],
        [-0.3142136 , -0.9381419 , -0.16732961, -0.27846226, -0.09285665,
         -0.22475621, -0.82047415, -0.39670044,  0.21367013, -0.87835824,
          0.6329612 ,  0.19683813, -0.38044918],
        [-0.35308564, -0.16291113,  0.2751404 , -0.27697223,  0.26007184,
         -0.4784554 , -0.13276371,  0.25347295, -0.44389588, -0.14610167,
         -0.11682899, -0.08788241, -0.35435277]], dtype=float32),
 array([ 0.03392942, -0.24197702,  0.42698273,  0.33822948,  0.26337168,
        -0.035151  ,  0.3899909 , -0.33071083, -0.14235926,  0.36412975,
         0.09680368,  0.27344078,  0.52468544], dtype=float32)]

In [221]:
model.summary()

Model: "sequential_8"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_21 (Dense)                │ (None, 13)             │           182 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_22 (Dense)                │ (None, 13)             │           182 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_23 (Dense)                │ (None, 13)             │           182 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_24 (Dense)                │ (None, 1)              │            14 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 1,682 (6.57 KB)

 Trainable params: 560 (2.19 KB)

 Non-trainable params: 0 (0.00 B)

 Optimizer params: 1,122 (4.39 KB)

In [222]:
y_log=model.predict(x_test_scaled)
y_log

 1/63 ━━━━━━━━━━━━━━━━━━━━ 1s 32ms/step

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step

array([[0.07771646],
       [0.00693525],
       [0.08982348],
       ...,
       [0.82434905],
       [0.17159005],
       [0.39783508]], shape=(2000, 1), dtype=float32)

In [223]:
import numpy as np
y_pred=np.where(y_log>.5,1,0)

In [224]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.858